.trending {
    &Wrapper {
        @apply relative;

        & > section {
            @apply py-3 bg-secondary-gray;

            & > h3 {
                @apply max-[550px]:pt-10;
            }
        }
    }

    &Filter {
        @apply w-fit flex gap-2 items-center overflow-hidden absolute right-[15px] top-[14px]
        rounded-[30px] border-solid border-[1px] border-primary-pink lg:top-[10px];

        label {
            @apply opacity-30 block font-bold relative z-[2]
            py-1 px-3 rounded-[30px] overflow-hidden transition-opacity duration-300;

            span {
                @apply max-md:text-[12px] flex items-center min-h-[20px];
            }

            &::after {
                @apply content-[''] absolute inset-0 bg-primary-gray h-full w-full z-[-1]
                translate-y-[100%] transition-transform duration-300;
            }
        }
    }

    &Active {
        @apply pointer-events-none;

        label {
            @apply opacity-100;

            &::after {
                @apply translate-y-0;
            }
        }
    }
}
