@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
    :root {
        --color-primary-green: 9, 44, 25;
        --color-primary-light-green: 216, 248, 13;
        --color-primary-gray: 246, 246, 246;

        --color-secondary-blue: 36, 90, 199;
        --color-secondary-red: 232, 67, 67;
        --color-secondary-green: 64, 147, 69;
        --color-secondary-pink: 99, 81, 171;
    }
}

:root {
    --foreground-rgb: 0, 0, 0;
    --background-start-rgb: 214, 219, 220;
    --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
    :root {
        --foreground-rgb: 255, 255, 255;
        --background-start-rgb: 0, 0, 0;
        --background-end-rgb: 0, 0, 0;
    }
}

body {
    color: rgb(var(--foreground-rgb));
    background: linear-gradient(
                    to bottom,
                    transparent,
                    rgb(var(--background-end-rgb))
    )
    rgb(var(--background-start-rgb));
}
