.toggle {
    &Container {
        @apply absolute top-[28px] left-[16px]
        lg:static;
    }
    &Button {
        @apply relative bg-primary-blue transition-colors duration-300 w-[60px] h-[30px] rounded-[200px] inline-block
        before:bg-[url('../../assets/svg/sun.svg')] before:left-[5px]
        after:bg-[url('../../assets/svg/moon.svg')] after:right-[5px];
        box-shadow: inset 0px 5px 15px rgba(0, 0, 0, 0.4), inset 0px -5px 15px rgba(255, 255, 255, 0.4);

        &::before, &::after {
            @apply bg-contain absolute w-[22px] h-[22px] top-[4px];
        }

        span {
            @apply w-[22px] h-[22px] absolute top-[4px] left-0 rounded-full
            bg-white translate-x-[4px] transition-transform duration-300 z-[2];
            box-shadow: inset 5px -5px 4px rgba(53, 53, 53, 0.3);
        }
    }
}
