.media {
    @apply w-full h-full relative;

    &Details {
        @apply max-lg:hidden
        absolute w-full h-full top-0 left-0 z-[2] p-2 text-white
        backdrop-blur-sm translate-y-[100%];
        background-color: rgba(0, 0, 0, 0.3);
        transition: transform .3s ease;

        ul {
            @apply text-sm my-5;

            li span {
                @apply text-gray-300 font-bold;
            }
        }

        &Average {
           @apply mx-auto;
        }

        &Ratings {
            @apply mb-2;

            & > div {
                @apply flex justify-center #{!important};
            }

            div {
                @apply p-0 #{!important};
            }

            svg {
                @apply w-[13px] h-[13px] #{!important};
            }

            path {
                @apply transition-none #{!important};
            }
        }
    }

    &Image {
        @apply relative h-auto overflow-hidden;
        box-shadow: var(--popular-shadow);

        &::after {
            @apply content-[''] absolute w-full h-full inset-0 mix-blend-screen
            bg-cover bg-no-repeat bg-[url('../../assets/images/poster-texture.jpg')];
            box-shadow: inset 0 0 25px 25px #000000;
        }

        img {
            @apply w-full h-full object-cover;
        }

        &Detailed:hover > div:not(:only-child):last-child {
            @apply translate-y-0;
        }
    }

    &Title {
        @apply text-ellipsis overflow-hidden text-sm text-center font-bold;
    }
}
