.default {
    &Container {
        @apply grid gap-5 min-h-[100vh]
        max-lg:px-[15px]
        lg:max-xl:max-w-[94%]
        lg:mx-auto lg:w-full lg:grid-cols-[1fr_.5fr]
        xl:max-w-[1370px] xl:px-7;

        &Full {
            @apply block mt-[-80px] pt-[80px] pb-10
            lg:mt-[-94px] lg:pt-[94px];
        }
    }

    &Layout {
        @apply bg-no-repeat bg-center-top bg-fixed bg-cover pb-[50px];

        &Poster > div {
            @apply relative z-[1];
        }
    }

    &Left {
        @apply overflow-hidden;
    }

    &Right {
        @apply lg:p-2;
    }

    &Left, &Right {
        @apply mt-7;
    }

    &Poster {
        @apply p-2;
        background-color: rgba(var(--color-white), 0.5);
    }
}
